<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>TrelloClone</h1>
  <p>Smarter Todo App!</p>
  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
</div>
